.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--color-primary);
  width: 100%;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.small {
  border-radius: var(--radius-sm);
  padding-top: var(--spaceing-sm);
  padding-bottom: var(--spaceing-sm);
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.medium {
  border-radius: var(--radius-md);
  padding-top: var(--spaceing-md);
  padding-bottom: var(--spaceing-md);
  padding-left: var(--spaceing-lg);
  padding-right: var(--spaceing-lg);
}

.large {
  border-radius: var(--radius-lg);
  padding-top: var(--spaceing-lg);
  padding-bottom: var(--spaceing-lg);
  padding-left: var(--spaceing-xl);
  padding-right: var(--spaceing-xl);
}

.small > .icon {
  width: var(--font-size-subtext);
  height: var(--font-size-subtext);
  margin-right: var(--spaceing-xs);
}

.medium > .icon {
  width: var(--font-size-text);
  height: var(--font-size-text);
  margin-right: var(--spaceing-xs);
}

.large > .icon {
  width: var(--font-size-h5);
  height: var(--font-size-h5);
  margin-right: var(--spaceing-xs);
}

.small > .text {
  font-size: var(--font-size-subtext);
}

.medium > .text {
  font-size: var(--font-size-text);
}

.large > .text {
  font-size: var(--font-size-h5);
}
