@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css");

:root {
  --screen-sm: 520px;
  --default-font-family: "Zen Kaku Gothic New", sans-serif;
  --color-bg: #f9f9f9;
  --color-white: #fff;
  --color-primary: #e6f4fe;
  --color-primary-dark: #73b8ff;
  --color-danger: #ffe8e8;
  --color-danger-dark: #ee8f97;
  --color-info: #dcdcdc;
  --color-info-dark: #a0a0a0;
  --color-warn: #ffffe8;
  --color-warn-dark: #ffe078;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --font-color-primary: #007bff;
  --font-color-primary-dark: #0056b3;
  --font-color-danger: #dc3545;
  --font-color-danger-dark: #bd2130;
  --font-color-info: #808080;
  --font-color-info-dark: #4d4d4d;
  --font-color-warn: #ffc107;
  --font-color-warn-dark: #d39e00;
  --font-size-h1: 3.6rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.8rem;
  --font-size-h4: 2.4rem;
  --font-size-h5: 2rem;
  --font-size-text: 1.6rem;
  --font-size-subtext: 1.2rem;
  --font-weight-bold: 700;
  --spaceing-xxs: 0.2rem;
  --spaceing-xs: 0.4rem;
  --spaceing-sm: 0.8rem;
  --spaceing-md: 1.6rem;
  --spaceing-lg: 2.4rem;
  --spaceing-xl: 3.2rem;
  --spaceing-xxl: 4.8rem;
  --content-xs: 1.6rem;
  --content-sm: 2.4rem;
  --content-md: 3.2rem;
  --content-lg: 4.8rem;
  --content-xl: 6.4rem;
  --content-xxl: 9.6rem;
  --radius-xs: 0.4rem;
  --radius-sm: 0.8rem;
  --radius-md: 1.6rem;
  --radius-lg: 2.4rem;
  --radius-xl: 3.2rem;
  --radius-xxl: 4.8rem;
  --border-thin-primary: 0.1rem solid var(--color-primary);
  --border-thin-primary-dark: 0.1rem solid var(--color-primary-dark);
  --border-thin-danger: 0.1rem solid var(--color-danger);
  --border-thin-danger-dark: 0.1rem solid var(--color-danger-dark);
  --border-thin-info: 0.1rem solid var(--color-info);
  --border-thin-info-dark: 0.1rem solid var(--color-info-dark);
  --border-mid-primary: 0.2rem solid var(--color-primary);
  --border-mid-primary-dark: 0.2rem solid var(--color-primary-dark);
  --border-mid-danger: 0.2rem solid var(--color-danger);
  --border-mid-danger-dark: 0.2rem solid var(--color-danger-dark);
  --border-mid-info: 0.2rem solid var(--color-info);
  --border-mid-info-dark: 0.2rem solid var(--color-info-dark);
  --border-thick-primary: 0.4rem solid var(--color-primary);
  --border-thick-primary-dark: 0.4rem solid var(--color-primary-dark);
  --border-thick-danger: 0.4rem solid var(--color-danger);
  --border-thick-danger-dark: 0.4rem solid var(--color-danger-dark);
  --border-thick-info: 0.4rem solid var(--color-info);
  --border-thick-info-dark: 0.4rem solid var(--color-info-dark);
}

@media screen and (max-width: 520px) {
  :root {
    --default-font-family: "Zen Kaku Gothic New", sans-serif;
    --color-bg: #f9f9f9;
    --color-primary: #e6f4fe;
    --font-size-h1: 3rem;
    --font-size-h2: 3.2rem;
    --font-size-h3: 2.8rem;
    --font-size-h4: 2.4rem;
    --font-size-h5: 2rem;
    --font-size-text: 1.6rem;
    --font-size-subtext: 1.2rem;
    --spaceing-xs: 0.3rem;
    --spaceing-sm: 0.6rem;
    --spaceing-md: 1.2rem;
    --spaceing-lg: 1.8rem;
    --spaceing-xl: 2.4rem;
    --spaceing-xxl: 3.6rem;
    --content-xs: 1.2rem;
    --content-sm: 2.4rem;
    --content-md: 3.6rem;
    --content-lg: 4.8rem;
    --content-xl: 6rem;
    --content-xxl: 9rem;
    --radius-xs: 0.3rem;
    --radius-sm: 0.6rem;
    --radius-md: 1.2rem;
    --radius-lg: 1.8rem;
    --radius-xl: 2.4rem;
    --radius-xxl: 3.6rem;
  }
}

html {
  font-size: 62.5%;
  font-family: var(--default-font-family);
}
