.root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small {
  height: var(--content-md);
}

.small.contained {
  border-radius: var(--radius-sm);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.small.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.small.underline.password,
.small.contained.password {
  padding-right: 0;
}

.medium {
  height: var(--content-lg);
}

.medium.contained {
  border-radius: var(--radius-md);
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.medium.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.medium.underline.password,
.medium.contained.password {
  padding-right: 0;
}

.large {
  height: var(--content-xl);
}

.large.contained {
  border-radius: var(--radius-lg);
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.large.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.large.underline.password,
.large.contained.password {
  padding-right: 0;
}

.contained {
  border: none;
  border: var(--border-mid-info);
  outline: none;
  border-radius: var(--radius-sm);
}

.contained:hover {
  border: var(--border-mid-info-dark);
}

.contained:focus {
  border: var(--border-mid-info-dark);
}

.underline {
  border-bottom: var(--border-mid-info);
}

.underline:hover {
  border-bottom: var(--border-mid-info-dark);
}

.underline:focus {
  border-bottom: var(--border-mid-info-dark);
}

.contained.errorOutline {
  border: var(--border-mid-danger-dark);
}

.underline.errorUnderline {
  border-bottom: var(--border-mid-danger-dark);
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small > .iconWrap {
  margin-right: var(--spaceing-xs);
}

.medium > .iconWrap {
  margin-right: var(--spaceing-sm);
}

.large > .iconWrap {
  margin-right: var(--spaceing-sm);
}

.small > .iconWrap > .icon {
  width: var(--font-size-subtext);
  height: var(--font-size-subtext);
}

.medium > .iconWrap > .icon {
  width: var(--font-size-text);
  height: var(--font-size-text);
}

.large > .iconWrap > .icon {
  width: var(--font-size-h5);
  height: var(--font-size-h5);
}

.passwordWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.small > .passwordWrap {
  padding-left: var(--spaceing-xs);
  padding-right: var(--spaceing-sm);
}

.medium > .passwordWrap {
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-md);
}

.large > .passwordWrap {
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.small > .passwordWrap > .passwordIcon {
  width: var(--font-size-subtext);
  height: var(--font-size-subtext);
}

.medium > .passwordWrap > .passwordIcon {
  width: var(--font-size-text);
  height: var(--font-size-text);
}

.large > .passwordWrap > .passwordIcon {
  width: var(--font-size-h5);
  height: var(--font-size-h5);
}
