.root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small {
  height: var(--content-md);
  line-height: var(--font-size-h5);
}

.small.outline {
  border-radius: var(--radius-sm);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.small.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.medium {
  height: var(--content-lg);
}

.medium.outline {
  border-radius: var(--radius-md);
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.medium.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.large {
  height: var(--content-xl);
}

.large.outline {
  border-radius: var(--radius-lg);
  padding-left: var(--spaceing-md);
  padding-right: var(--spaceing-md);
}

.large.underline {
  border-bottom: var(--border-mid-info);
  padding-left: var(--spaceing-sm);
  padding-right: var(--spaceing-sm);
}

.outline {
  border: none;
  border: var(--border-mid-info);
  outline: none;
  border-radius: var(--radius-sm);
}

.outline:hover {
  border: var(--border-mid-info-dark);
}

.outline:focus {
  border: var(--border-mid-info-dark);
}

.underline {
  border-bottom: var(--border-mid-info);
}

.underline:hover {
  border-bottom: var(--border-mid-info-dark);
}

.underline:focus {
  border-bottom: var(--border-mid-info-dark);
}

.outline.errorOutline {
  border: var(--border-mid-danger-dark);
}

.underline.errorUnderline {
  border-bottom: var(--border-mid-danger-dark);
}
