.subtext {
  font-size: var(--font-size-subtext);
}

.text {
  font-size: var(--font-size-text);
}

.strong {
  font-weight: bold;
  font-size: var(--font-size-text);
}

.h5 {
  font-size: var(--font-size-h5);
}

.h4 {
  font-size: var(--font-size-h4);
}

.h3 {
  font-size: var(--font-size-h3);
}

.h2 {
  font-size: var(--font-size-h2);
}

.h1 {
  font-size: var(--font-size-h1);
}

.black {
  color: var(--font-color-black);
}

.info {
  color: var(--font-color-info);
}

.danger {
  color: var(--font-color-danger);
}

.warn {
  color: var(--font-color-warn);
}
