.small {
  font-size: var(--font-size-subtext);
  font-weight: bold;
}

.medium {
  font-size: var(--font-size-text);
  font-weight: bold;
}

.large {
  font-size: var(--font-size-h5);
  font-weight: bold;
}
